image: docker:latest
services:
- docker:dind

stages:
- build
- test

before-script:
  - docker login registrysecaas.azurecr.io -u 6cd549d2-1f38-44cc-abd8-e7f38243edf0 -p 5a1d6af7-d62f-4979-a49c-3b0c40baaed1

build-server:
  stage: build
  script:
    - docker build -t crawler-python .

test-server:
  stage: test
  script:
    - docker run -it crawler-python coverage report
    
