image: docker:latest
services:
- docker:dind

stages:
- build
- test
- qa

variables:
  ACR_HUB: registrysecaas.azurecr.io
  ACR_U: 6cd549d2-1f38-44cc-abd8-e7f38243edf0
  ACR_P: 5a1d6af7-d62f-4979-a49c-3b0c40baaed1
  # SONAR_SCANNER_VERSION: 4.0.0.1744
  # SONAR_SCANNER_HOME: $HOME/.sonar/sonar-scanner-$SONAR_SCANNER_VERSION-linux
  # PATH: $SONAR_SCANNER_HOME/bin:$PATH
  # SONAR_SCANNER_OPTS: "-server"

before_script:
  - docker login --username $ACR_U --password $ACR_P $ACR_HUB
  
build-server:
  stage: build
  script:
    - docker build -t crawler-python .

test-server:
  stage: test
  script:
    - docker run crawler-python coverage report

#######################################
# Check the project code quality with Sonar, make sure your Gitlab project has a secret variable (project -> settings -> CI/CD) defined called SONAR_TOKEN
#######################################
codequality:
  stage: qa
  script:
    - sonar-scanner -Dsonar.projectKey=mmc1-v1 -Dsonar.organization=mmc-1 -Dsonar.sources=. \Dsonar.host.url=https://sonarcloud.io \Dsonar.login==5d694cdc45dbf55340808ab09be3bcdecc2327eb
