image: docker:latest
services:
- docker:dind

stages:
- build
- test
- qa

variables:
  ACR_HUB: registrysecaas.azurecr.io
  ACR_U: 6cd549d2-1f38-44cc-abd8-e7f38243edf0
  ACR_P: 5a1d6af7-d62f-4979-a49c-3b0c40baaed1
  # SONAR_SCANNER_VERSION: 4.0.0.1744
  # SONAR_SCANNER_HOME: $HOME/.sonar/sonar-scanner-$SONAR_SCANNER_VERSION-linux
  # PATH: $SONAR_SCANNER_HOME/bin:$PATH
  # SONAR_SCANNER_OPTS: "-server"

before_script:
  - docker login --username $ACR_U --password $ACR_P $ACR_HUB
  
build-server:
  stage: build
  script:
    - docker build -t crawler-python .

test-server:
  stage: test
  script:
    - docker run crawler-python coverage report

#######################################
# Check the project code quality with Sonar, make sure your Gitlab project has a secret variable (project -> settings -> CI/CD) defined called SONAR_TOKEN
#######################################
# codequality:
#   stage: qa
#   script:
#     - sonar-scanner -Dsonar.projectKey=crawler-python -Dsonar.organization=crawler-python -Dsonar.sources=. \Dsonar.host.url=https://sonarcloud.io \Dsonar.login=c108dc5740506049bdff77693be28524cae93715

sonarqube:
  stage: qa
  image: ciricihq/gitlab-sonar-scanner
  variables:
    SONAR_URL: https://sonarcloud.io
    SONAR_ANALYSIS_MODE: issues
  script:
  - gitlab-sonar-scanner